caption {
    display: table-caption;
    margin-bottom:30px;
    font-size:2em;
}

table {
    border-collapse: collapse;
    width: 100%
}

tr {
    border-bottom: 1px solid black;

}

td {
    padding-top: 10px;
    padding-bottom: 10px;
}

th {
    text-align: left;
    width: 150px;
}

br {
    display: block;
    margin-bottom: 10px;
    content: "\0020";
}

tr:last-child {
    border-bottom: 0px;
}
#name-input-label,
#birth-input-label,
#id-input-label,
#password-input-label,
#password2-input-label,
#email-input-label,
#phone1-input-label,
#phone2-input-label,
#home-input1-label,
#home-input2-label,
#home-input3-label
{
    display: none;
}