caption {
    display: table-caption;
    margin-bottom: 30px;
    font-size: 2em;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1em
}

tr {
    border-bottom: 1px solid black;
}

td {
    padding-top: 15px;
    padding-bottom: 15px;
}

th {
    text-align: left;
    width: 200px;
    padding-left: 20px
}

br {
    display: block;
    margin-bottom: 10px;
    content: "\0020";
}

#name-input-label,
#birth-input-label,
#id-input-label,
#password-input-label,
#password2-input-label,
#email-input-label,
#phone1-input-label,
#phone2-input-label,
#home-input1-label,
#home-input2-label,
#home-input3-label {
    display: none;
}

input {
    padding: 0.4em;
}
