#contents {
    border: 0px;
}

.member-wrap {
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin: 0px auto;
}

@media (max-width:1125px) {

    #contents {
        position:absolute;
        left:0px;
        width:1100px;
    }
    .member-wrap {
        margin-left: 50px;
        margin-right:50px;
    }
}

.mypage-top {
    display: flex;
    box-sizing: border-box;
    border: 3px solid #A7727D;
    border-radius: 12px;
    margin-bottom: 60px;
}

.left {
    display: flex;
    justify-content: center;
    /* align-content: center; */
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    border-right: 3px solid #a7727d;
    box-sizing: border-box;
    width: 750px;
}

.left>h1 {
    margin-bottom: 50px;
    padding-left: 100px;
    padding-top: 80px;
    font-size: 4em;
}

.left>p {
    padding-left: 100px;
    padding-bottom: 80px;
    font-size: 1.3em;
}


.right {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 450px;
}

.right>h1 {
    margin-bottom: 30px;
    display: flex;
}

.right>h1>img {
    height: 3em;
}

.right>h1>div {
    align-self: center;
    font-size: 1.2em;
    margin-left: 30px;
}

.right>p {
    font-size: 2em;
    margin-left: 3em;
}

.mypage-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mypage-list {
    width: 310px;
    height: 150px;
    border: 3px solid #a7727d;
    box-sizing: border-box;
    border-radius: 7.5px;
    display: flex;
    justify-content: center;
    padding: 10px;
    align-content: center;
    flex-wrap: wrap;
}

.mypage-list:nth-child(3n+2) {
    margin: 0px 25px 40px 25px;
}

.mypage-list>img {
    padding-right: 10px;
    height: 80px;
}

.mypage-list>div {
    line-height: 80px;
    font-size: 1.7em
}

.mypage-list:last-child>div {
    font-size: 1.8em
}

.mypage-list:hover {
    color: white;
    background-color: #A7727D;
    transition: 0.2s ease;
}

.mypage-list:hover>img {
    /* mix-blend-mode: multiply; */
    mix-blend-mode: screen;
    /* mix-blend-mode: overlay; */
    /* mix-blend-mode: darken; */
    /* mix-blend-mode: lighten; */
}