div#contents {
    border: 0;
}

#contents-title {
    text-align: center;
}

#authenticationForm {
    display: grid;
    grid-template-columns: 80px 160px 80px 40px 40px 80px;
    /* 수정예정 */
    grid-template-rows: 40px 50px 40px 50px 30px 30px 50px;
    margin-top: 50px;
    justify-content: center;
    gap: 5px 10px;
}

label[for=username],
label[for=phone] {
    line-height: 40px;
    font-size: 0.9em;
}

label[for=username],
input[name=username],
label[for=phone] {
    grid-column: 1 / 7;
}

input[name=phone] {
    grid-column: 1 / 5;
}

input#phoneAuthenticationButton {
    grid-column: 5 / 7;
    border-radius: 10px;
    border: 1px solid #a7727d;
    color: black;
}

span#authenticationSuccess {
    /* display: none; */
    grid-column: 1/7;
    grid-row: 6/7;
}

input#searchButton {
    grid-row: 7/8;
    grid-column: 1/7;
    border-radius: 20px;
}

input#searchButton,
input#authenticationCodeButton {
    background-color: #A7727D;
    color: white;
    border: 0px;
}

input#authenticationCodeButton {
    border: 1px solid #a7727d;
    color: black;
    background-color: #ECECEC;
    border-radius: 5px
}

img#authenticationTimerButton {
    cursor: pointer;
}


input#username,
input#phone,
input#authenticationCode {
    border-radius: 6px;
    padding-left: 5px;
    border: 0;
    background-color: #ECECEC;
}

label[for=authenticationCode],
input#authenticationCode,
input#authenticationCodeButton,
span#authenticationTimer,
img#authenticationTimerButton,
span#authenticationSuccess {
    display: none;
    line-height: 30px;
}