section {
    padding-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 이준경 */
    justify-content: flex-start;
    min-height: 80.2vh;
}

#contents {
    align-self: center;
    /* min-width는 선택 */
    /* max-width는 선택 */
    min-width: 40em;
}

#contents_table {
    width: 100%;
    border-collapse: collapse;
}

#contents_table th {
    min-width: 7em;
}

#contents_table th,
#contents_table td {
    padding: 5px 0px 5px 15px;
}

#contents_table td>input {
    margin: 3px 0px 3px 5px;
    
}
#email_row td>div{
    margin:4px 0px 4px 5px;
}
#email_row td>div:nth-child(3),#email_row td>div:nth-child(4){
    font-size: 0.8em;
}
#reload_timer{
    font-size:0.8em;
}
#contents_table td:nth-child(3){
    font-size: 0.8em;
    min-width:19em;
}
#contents_table td input[type=text],
#contents_table td input[type=date] {
    border: 1px solid gray;
    border-radius: 0.3em;
    height: 1.7em;
}

#contents_table td>input+label {
    margin-left: 5px;
}

#contents_table th {
    max-width: 4em;
    font-size: 1.21m;
    text-align: left;
}

#contents_table tr {
    border-top: 1px solid black;
}

#contents_table tr:last-child {
    border-bottom: 1px solid black;
}

#contents_table caption {
    font-size: 1.7em;
    padding: 30px;
    color: black;
}

#warning {
    color: red;
}
#email_authentication{
    display:flex;
    align-items: center;
    margin-left:3px;
}
#email_authentication>div{
    min-width: 4.3em;
}
#reload{
    width:1em;
}
#bottom_buttons {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 2em 0em 1em 0em;
}
#address_button,#email_button{
    margin-left:5px;
}

#email_button,
#goback_button,
#address_button,
#remove_button,
#modify_button{
    border-radius: 0.6em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding: 0.3em 0.5em 0.3em 0.5em;
    border: 0;
    background-color: #A7727D;
    color: white;
}
#address_col_2,#address_col_3{
    width:25em;
}