section {
    padding-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 이준경 */
    justify-content: flex-start;
    min-height: 80.2vh;
}

#contents {
    align-self: center;
    /* min-width는 선택 */
    /* max-width는 선택 */
}

#contents {
    display: flex;
    flex-direction: column;
}

#contents_menu {
    display: flex;
    border-bottom: 1px solid #bebebe;
}

#contents_menu>div {
    padding: 8px 30px 8px 30px;
    border: 1px solid #bebebe;
    border-bottom: 0;
    box-sizing: border;
}

#contents_menu>div:nth-child(1) {
    border: 0;
    background-color: #A7727D;
    color: white;
}

#search {
    display: flex;
    gap: 30px;
    justify-items: space-between;
    align-items: center;
    border: 1px solid #848484;
    padding: 8px 15px 8px 15px;
    margin-top: 30px;
}

#state_select {
    border: 1px solid gray;
    border-radius: 0.3em;
    height: 1.7em;
}

#form_wrap {
    display: flex;
    gap: 30px;
    align-items: center;
}

#date_setting {
    display: flex;
    gap: 5px;
}

#date_start,
#date_end {
    border: 1px solid gray;
    border-radius: 0.3em;
    height: 1.7em;

}

#submit_button {
    display: flex;
    border-radius: 0.6em;
    padding: 0.3em 0.5em 0.3em 0.5em;
    border: 0;
    background-color: #A7727D;
    color: white;
    align-items: center;
    height: 2em;
}

#submit_button>input {
    background-color: #00000000;
    color: white;
    border: 0;
}

#quick_date_buttons {
    display: flex;
}

#quick_date_buttons>input[type=radio] {
    display: none;
}

#quick_date_buttons>input[type=radio]:checked+label {
    background-color: #A7727D;
    color: white;
    border: 0;
}

#quick_date_buttons>label {
    border: 1px solid #BEBEBE;
    padding: 3px 3px 3px 3px;
    min-width: 3.3em;
    text-align: center;
    box-sizing: border-box;
}

#notice {
    margin-top: 5px;
}

div#contents>#notice>li {
    list-style-type: disc;
    list-style-position: inside;
    color: #5D5C5C;
    font-size: 0.9em;
}


#product_table {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* 여기서부터. */


#bottom_buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
}

#product_table {
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid #848484;
    color: #5D5C5C;
}

#product_table>caption {
    font-size: 1.7em;
    padding: 30px;
    color: black;
}

th {
    font-size: 1.2em;
    padding: 0.3em 0.5em 0.3em 0.5em;
}

tr {
    border-bottom: 1px solid #848484;
}


tr>td {
    padding: 8px 15px 8px 15px;
    text-align: center;
    font-size: 0.95em;
}

tr>td:nth-child(3) {
    text-align: left;
}

#product_table>thead tr {
    background-color: rgba(237, 218, 196, 0.3);
}