section {
    padding-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 이준경 */
    justify-content: flex-start;
    min-height: 80.2vh;
}
#contents{
    align-self:center;
    /* min-width는 선택 */
    /* max-width는 선택 */
}
#contents {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#contents-menu {
    display: flex;
    gap: 30px;
}

#search {
    display: flex;
    gap: 30px;
    /* justify-content: space-between; */
    border:1px solid black;
}

#form_wrap {
    display: flex;
    gap: 30px;
    align-items: center;
}

#date_setting {
    display: flex;
    gap: 5px;
}

#quick_date_buttons {
    display: flex;
}

div#contents>#notice>li {
    list-style-type: disc;
}

#bottom_buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
}


/* 삭제 or 수정 예정 */
table,
td,
th {
    border: 2px solid black;
}

table {
    border-collapse: collapse;
}